@charset "utf-8";

body{
    background-color: rgb(61, 61, 61);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin: 0px;
    padding: 0px;
}
h1, h2{
    text-align: center;
}
img.icon{
    display: block;
    margin: auto;
}
#corps{
    width: 80%;
    margin: auto;
}