@charset "utf-8";

body{
    background-color: rgb(69, 31, 17);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin: 0px;
    padding: 0px;
}
h1, h2, img{
    text-align: center;
    display: block;
    margin: auto;
}
#corps{
    width: 80%;
    margin: auto;
}